@use 'var';

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var.$textColor;
    p {
        color: var.$textColor1;
        font-size: 2vh;
        a {
            font-size: 2vh;
            color: var.$textColor1;
        }
    }
}